{% extends 'base.html' %}



{% block Nav %}
<li class="nav-item">
  <form action="/doctor" method="post">
    <button id="patients-btn" type="submit" name="patients" value="patients"
      class="nav-link btn btn-outline-light auth">Patients</button>
  </form>
</li>
<li class="nav-item">
    <a href="/doctor/events" class="nav-link btn btn-outline-light auth">Calendar</a>
</li>
{% endblock %}


{% block content %}

  <div class="position-relative m-5 text-white">
    {% if events %}
    <h1>Events</h1>
  <pre>
    <br><br>
    <table class="table table-dark">
      <thead class="thead-light">
        <tr>
          {% for key in dict(events[0]) %}
          <th scope="col">{{key.upper()}}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for event in events %}
        <tr>
          {% for key in event %}
          <td>{{ event[key] }}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </pre>
    {% endif %}
  </div>


{% endblock %}