{% extends 'base.html' %}


{% block content %}
<div class="ml-3 container-fluid">
    <h1>Imaging and radiology </h1><br>
    Radiology is a branch of medicine that uses imaging technology to diagnose and treat disease.
    <br>
    Radiology may be divided into two different areas, diagnostic radiology and interventional radiology. Doctors
    who specialize in radiology are called radiologists.
    <br><bR>

    <h4>DIAGNOSTIC RADIOLOGY</h4> <br>

    Diagnostic radiology helps health care providers see structures inside your body. Doctors that specialize in the
    interpretation of these images are called diagnostic radiologists. Using the diagnostic images, the radiologist
    or other physicians can often:
    <br><br>
    <ul>
        <li>Diagnose the cause of your symptoms
        <li>Monitor how well your body is responding to a treatment you are receiving for your disease or condition
        <li>Screen for different illnesses, such as breast cancer, colon cancer, or heart disease
    </ul><br>
    The most common types of diagnostic radiology exams include:
    <br><br>
    <ul>
        <li>Computed tomography (CT), also known as a computerized axial tomography (CAT) scan, including CT
            angiography
        <li>Fluoroscopy, including upper GI and barium enema
        <li>Magnetic resonance imaging (MRI) and magnetic resonance angiography (MRA)
        <li>Mammography
        <li>Nuclear medicine, which includes such tests as a bone scan, thyroid scan, and thallium cardiac stress
            test
        <li>Plain x-rays, which includes chest x-ray
        <li>Positron emission tomography, also called PET imaging, PET scan, or PET-CT when it is combined with CT
        <li>Ultrasound
    </ul><br>
    <h4>INTERVENTIONAL RADIOLOGY</h4><br>

    Interventional radiologists are doctors that use imaging such as CT, ultrasound, MRI, and fluoroscopy to help
    guide procedures. The imaging is helpful to the doctor when inserting catheters, wires, and other small
    instruments and tools into your body. This typically allows for smaller incisions (cuts).
    <br><br>
    Doctors can use this technology to detect or treat conditions in almost any part of the body instead of directly
    looking inside of your body through a scope (camera) or with open surgery.
    <br><br>
    Interventional radiologists often are involved in treating cancers or tumors, blockages in the arteries and
    veins, fibroids in the uterus, back pain, liver problems, and kidney problems.
    <br><br>
    The doctor will make no incision or only a very small one. You rarely need to stay in the hospital after the
    procedure. Most people need only moderate sedation (medicines to help you relax).
    <br><br>
    Examples of interventional radiology procedures include:
    <br><br>
    <ul>
        <li>Angiography or angioplasty and stent placement
        <li>Embolization to control bleeding
        <li>Cancer treatments including tumor embolization using chemoembolization or Y-90 radioembolization
        <li> ablation with radiofrequency ablation, cryoablation, or microwave ablation
        <li> and kyphoplasty
        <li> biopsies of different organs, such as the lungs and thyroid gland
        <li> biopsy, guided either by stereotactic or ultrasound techniques
        <li>Uterine artery embolization
        <li> tube placement
        <li> access catheter placement, such as ports and PICCs
    </ul>
    <br><br>

</div>
    {% endblock %}